.App{
  background-color: #020d3b;
  font-family: 'Oxygen', sans-serif;
  padding-bottom: 2em;
}
body{
  background-color: #020d3b;
}
footer{
  position: relative ;
  left: 0;
  clear: both;
  height: 200px;
  bottom: 0;
  width: 100%;
  background-color: #020d3b;
  color: white;
  text-align: center;
  border-top: white 2px;
}